language: android
script: 
    - ./gradlew build check

android:
  components:
    - build-tools-22.0.1
    - android-22
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
  licenses:
    - android-sdk-license-.+
