<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ashtonbrsc.android.intentintercept">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:installLocation="auto">
        <activity
            android:name="uk.co.ashtonbrsc.intentexplode.Explode"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <data android:scheme="file" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <!-- Intercept Google play links -->
                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />

            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.PICK" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.SENDTO" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.SENDTO" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mailto" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.SEND_MULTIPLE" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.WEB_SEARCH" />
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
            <!-- Google Now note to self -->
            <intent-filter android:label="@string/intent_filter_label" >
                <action android:name="com.google.android.gm.action.AUTO_SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <!-- ZXing SCAN - There may be more on https://github.com/zxing/zxing/blob/master/android/AndroidManifest.xml -->
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="zxing" android:host="scan" android:path="/"/>
            </intent-filter>
        </activity>
        <activity android:name="uk.co.ashtonbrsc.intentexplode.StartupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uk.co.ashtonbrsc.intentexplode.Pre15SettingsActivity"
            android:theme="@android:style/Theme.Light">
        </activity>
        <activity android:name="uk.co.ashtonbrsc.intentexplode.SettingsActivity" />
    </application>

</manifest>
